.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.menu {
	background-color: #f0f0f0;
	padding: 15px;
	border: 1px solid #ccc;
	position: absolute; /* Możesz zmienić, aby menu miało odpowiednie pozycjonowanie */
	top: 70px; /* Odległość od górnej krawędzi */
	left: 0px; /* Umieść je w odpowiednim miejscu */
	width: 98%;
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.menu li {
	margin-bottom: 10px;
}

.menu li a {
	text-decoration: none;
	color: black;
}