body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.navbar {
	width: 100%;
	height: 100px;
	background-color: #FFF8E1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 10px 20px rgba(100, 40, 150, 0.2);
}

.nav_left{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 20px;
}

.nav_center{
	height: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav_right{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.nav_btn {
	color: white;
	padding: 10px 0;
	background-color: rgba(100, 40, 150, 1);
	border-radius: 10px;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.nav_btn:hover{
	background-color: rgba(100, 40, 150, 0.85);
}

.logo{
	height: 100%;
	filter: drop-shadow(3px 3px 2px rgba(100, 40, 150, 0.7));
}


@media (max-width: 1100px){
	.nav_btn{
		font-size: 15px;
	}
}


@media (max-width: 880px) {
	.navbar{
		height: 70px;
	}
	.nav_btn{
		font-size: 12px;
		margin-right: 5px;
	}
	.nav_center{
		height: 70px;
	}
}
@media (max-width: 786px){
	.nav_btn{
		margin: 2px;
		white-space: nowrap;
	}
}


@media (max-width: 480px) {
	.nav_btn{
		font-size: 10px;
	}

}

.main_container {
	background-color: rgba(100, 40, 150, 0.7);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_area {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.categoryContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	margin-top: 50px;
	border-radius: 20px;
	background-color: #FFF8E1;
	width: 50%;
	box-shadow: 0 0 10px 5px rgba(100, 40, 150, 0.7);
	color: rgba(100, 40, 150, 1);
}
.categoryContent h3{
	font-size: 22px;
	transition: font-size 0.4s ease;

}
.categoryContent h3:hover{
	font-size: 24px;
	cursor: pointer;

}

.name{
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 2px rgba(100, 40, 150, 0.7);
	border-radius: 10px;
	padding: 5px;
	background-color: rgba(228, 201, 246, 0.7);
}

.footer {
	background-color: #FFF8E1;
	font-size: 16px;
	color: black;
	width:  100%;
	margin-top: auto;
	padding: 20px;
}


@media (max-width: 768px){
	.footer{
		font-size: 14px;
	}
}
@media (max-width: 480px){
	.footer{
		font-size: 12px;
	}
}