body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.navbar {
	width: 100%;
	height: 100px;
	background-color: #FFF8E1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 10px 20px rgba(100, 40, 150, 0.2);
}

.nav_left{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 20px;
}

.nav_center{
	height: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav_right{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.nav_btn {
	color: white;
	padding: 10px 0;
	background-color: rgba(100, 40, 150, 1);
	border-radius: 10px;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.nav_btn:hover{
	background-color: rgba(100, 40, 150, 0.85);
}

.logo{
	height: 100%;
	filter: drop-shadow(3px 3px 2px rgba(100, 40, 150, 0.7));
}


@media (max-width: 1100px){
	.nav_btn{
		font-size: 15px;
	}
}


@media (max-width: 880px) {
	.navbar{
		height: 70px;
	}
	.nav_btn{
		font-size: 12px;
		margin-right: 5px;
	}
	.nav_center{
		height: 70px;
	}
}
@media (max-width: 786px){
	.nav_btn{
		margin: 2px;
		white-space: nowrap;
	}
}


@media (max-width: 480px) {
	.nav_btn{
		font-size: 10px;
	}

}


.main_container {
	background-color: rgba(100, 40, 150, 0.7);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_area {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

.text_container {
	max-width: 85%;
	margin-bottom: 40px;
	font-size: 30px;
	text-align: center;
	line-height: 1.6;
	color: #333;
}

.poprawnaOdp {
	font-size: 20px;
	color: green;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.errorOdp {
	font-size: 20px;
	color: red;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.taskButton {
	background-color: white;
}

.taskButtonDone {
	background-color: green;
}

.main_area {
	width: 100%;
	max-width: 1800px;
	margin: 20px 0;
}

.task_buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 3px 3px 0 3px;
	margin-bottom: 10px;
	background-color: #FFF8E1;
	color: rgba(100, 40, 150, 1);
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.show_task {
	display: flex;
	flex-direction: column;
	background-color: #FFF8E1;
	padding: 20px;
	margin:10px 0 20px 0;
	border-radius: 8px;
	width: 800px;
	height: 700px;
	box-shadow: 0 0 10px 5px rgba(100, 40, 150, 0.7);
	text-align: center;
	align-items: center;
	color: rgba(100, 40, 150, 1);
	font-weight: bold;

}


.button {
	background-color: rgba(100,40 ,150, 1);
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	gap: 15px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: rgba(100,40,150,0.7);
}

.answers_container {
	display: flex; /* Użyj flexbox */
	flex-wrap: wrap; /* Umożliwienie zawijania */
	justify-content: center; /* Wyśrodkowanie odpowiedzi */
	margin: 20px 0; /* Margines górny i dolny */
	width: 400px;
}

.answer_container {
	flex: 0 0 calc(50% - 20px); /* Każda odpowiedź zajmuje połowę szerokości z uwzględnieniem marginesów */
	margin: 10px; /* Odstęp między odpowiedziami */
	padding: 10px; /* Padding wewnętrzny */
	border-radius: 5px; /* Zaokrąglone rogi */
	text-align: center; /* Wyrównanie tekstu do środka */
	cursor: pointer; /* Kursor wskazujący */
	transition: background-color 0.3s; /* Płynna zmiana koloru tła */
	color: #FFF8E1;

}


.footer {
	background-color: #FFF8E1;
	font-size: 16px;
	color: black;
	width:  100%;
	margin-top: auto;
	padding: 20px;
}


@media (max-width: 768px){
	.footer{
		font-size: 14px;
	}
}
@media (max-width: 480px){
	.footer{
		font-size: 12px;
	}
}