body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.navbar {
	width: 100%;
	height: 100px;
	background-color: #FFF8E1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 10px 20px rgba(100, 40, 150, 0.2);
}

.nav_left{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 20px;
}

.nav_center{
	height: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav_right{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.nav_btn {
	color: white;
	padding: 10px 0;
	background-color: rgba(100, 40, 150, 1);
	border-radius: 10px;
	border: none;
	width: 120px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.nav_btn:hover{
	background-color: rgba(100, 40, 150, 0.85);
}

.logo{
	height: 100%;
	filter: drop-shadow(3px 3px 2px rgba(100, 40, 150, 0.7));
}


@media (max-width: 1100px){
	.nav_btn{
		font-size: 15px;
	}
}


@media (max-width: 880px) {
	.navbar{
		height: 70px;
	}
	.nav_btn{
		font-size: 12px;
		margin-right: 5px;
	}
	.nav_center{
		height: 70px;
	}
}
@media (max-width: 786px){
	.nav_btn{
		margin: 2px;
		white-space: nowrap;
	}
}


@media (max-width: 480px) {
	.nav_btn{
		font-size: 10px;
	}

}

.main_container {
	background-color: rgba(100, 40, 150, 0.7);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main_area {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 100%;

}


.contactBox {
	max-width: 85%;
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	color: rgba(100, 40, 150, 1);
	font-weight: bold;
}




.contactContent{
	background-color: #FFF8E1;
	border-radius: 20px;
	box-shadow: 0 0 10px 4px rgba(100, 40, 150, 1);
	padding: 20px 50px 20px 50px;
}


.footer {
	background-color: #FFF8E1;
	font-size: 16px;
	color: black;
	width:  100%;
	margin-top: auto;
	padding: 20px;
}


@media (max-width: 768px){
	.footer{
		font-size: 14px;
	}
}
@media (max-width: 480px){
	.footer{
		font-size: 12px;
	}
}
