body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #FFF8E1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 20px rgba(100, 40, 150, 0.2);
}

.nav_left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}

.nav_center{
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav_right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.nav_btn {
    color: white;
    padding: 10px 0;
    background-color: rgba(100, 40, 150, 1);
    border-radius: 10px;
    border: none;
    width: 120px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.nav_btn:hover{
    background-color: rgba(100, 40, 150, 0.85);
}

.logo{
    height: 100%;
    filter: drop-shadow(3px 3px 2px rgba(100, 40, 150, 0.7));
}


@media (max-width: 1100px){
    .nav_btn{
        font-size: 15px;
    }
}


@media (max-width: 880px) {
    .navbar{
        height: 70px;
    }
    .nav_btn{
        font-size: 12px;
        margin-right: 5px;
    }
    .nav_center{
        height: 70px;
    }
}
@media (max-width: 786px){
    .nav_btn{
        margin: 2px;
        white-space: nowrap;
    }
}


@media (max-width: 480px) {
    .nav_btn{
        font-size: 10px;
    }

}


/* Glowna czesc strony */

.main_container {
    background-color: rgba(100, 40, 150, 0.7);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}


.footer {
    background-color: #FFF8E1;
    font-size: 16px;
    color: black;
    width:  100%;
    margin-top: auto;
    padding: 20px;
}


@media (max-width: 768px){
    .footer{
        font-size: 14px;
    }
}
@media (max-width: 480px){
    .footer{
        font-size: 12px;
    }
}

.poprawnaOdp {
    color: green;
    font-weight: bold;
}

.errorOdp {
    color: red;
    font-weight: bold;
}

.taskButton {
    background-color: white;
}

.taskButtonDone {
    background-color: green;
}

.userContent{
    text-align: center;
}

.task_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #3bb19b;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.show_task {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 800px;
    height: 620px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center; /* Wyśrodkowanie elementów w poziomie */
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    gap: 15px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.answers_container {
    display: flex; /* Użyj flexbox */
    flex-wrap: wrap; /* Umożliwienie zawijania */
    justify-content: center; /* Wyśrodkowanie odpowiedzi */
    margin: 20px 0; /* Margines górny i dolny */
    width: 400px;
}

.answer_container {
    flex: 0 0 calc(50% - 20px); /* Każda odpowiedź zajmuje połowę szerokości z uwzględnieniem marginesów */
    margin: 10px; /* Odstęp między odpowiedziami */
    padding: 10px; /* Padding wewnętrzny */
    border: 1px solid #ccc; /* Granica */
    border-radius: 5px; /* Zaokrąglone rogi */
    text-align: center; /* Wyrównanie tekstu do środka */
    cursor: pointer; /* Kursor wskazujący */
    transition: background-color 0.3s; /* Płynna zmiana koloru tła */
}

.task_container {
    text-align: center;
    padding: 20px;
}
.task_container h2{
    letter-spacing: 1px;
    font-size: 50px;
    color: rgba(100, 40, 150, 1);
    text-shadow: 1px 1px 4px white;
    margin: 0;
}

.task_container p{
    color: #FFF8E1;
    font-size: 20px;
}

.images_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    align-content: center;
    place-items: center;
    min-height: 0;
    width: 100%;
}

.draggable_image {
    width: 200px;
    height: 200px;
    cursor: grab;
    border: 2px solid transparent;
    border-radius: 8px;
}


.draggable_image:active {
    cursor: grabbing;
}
.draggable_image:hover{
    transform: scale(1.05);

}

.targets_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    align-content: center;
    place-items: center;
    min-height: 300px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(100, 40, 150, 1);
}

.drop_target {
    width: 200px;
    height: 200px;
    border: 2px dashed #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF8E1;
    overflow: hidden; /* Ogranicza obrazek do obszaru kontenera */
    position: relative; /* Kontekst dla dzieci (obrazek nie będzie się rozlewał) */
    transition: background-color 0.3s ease;
}

.drop_target:hover {
    background-color: rgba(197, 143, 243, 0.7); /* Tylko w momencie przeciągania */
}
.target_image {
    width: 100%; /* Obrazek dopasowany do kontenera */
    height: 100%; /* Zachowuje proporcje w obrębie kontenera */
    object-fit: contain; /* Obrazek dostosowuje się do kwadratu, zachowując proporcje */
    position: relative; /* Usuwamy `absolute`, aby obrazek nie wychodził poza kwadrat */
    top: 0;
    left: 0;
    border-radius: 8px; /* Opcjonalnie, zaokrąglenie krawędzi */
}

.message {
    font-size: 1.2rem;
    color: #4caf50;
    margin-top: 20px;
}
